@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-gray-400 {
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity, 1));
  }
  .text-gray-300 {
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity, 1));
  }
}

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  body {
    @apply bg-white text-gray-900 font-body;
  }
  .dark body {
    @apply bg-gray-900 text-gray-100 font-body;
  }
}
